@model IEnumerable<AppTourist.Models.visiteur>

@{
    ViewBag.Title = "Index";
}

<h3>Liste des visiteurs</h3>

<p>
    @Html.ActionLink("Ajouter un nouveau visiteur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Numéro du visiteur
        </th>
        <th>
            Nom du visiteur
        </th>
        <th>
            Adresse du visiteur
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Numero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adresse)
    </td>
    <td>
        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
        <!--@Html.ActionLink("Details", "Details", new { id=item.Id }) |-->
        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
