@model AppTourist.Models.visiter

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h4>Voulez vous vraiment supprimer cet élément?</h4>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom du site : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.site.Nom)
        </dd>

        <dt>
            Nom du visiteur : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visiteur.Nom)
        </dd>

        <dt>
            Date de visite :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateVisite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
