@model IEnumerable<AppTourist.Models.visiter>

@{
    ViewBag.Title = "Index";
}

<h3>Listes des visites</h3>

<p>
    @Html.ActionLink("Ajouter une nouvelle visite", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom du site
        </th>
        <th>
            Nom du visiteur
        </th>

        <th>
            Nombre de jours
        </th>

        <th>
            Date de visite
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.site.Nom)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.visiteur.Nom)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Nbjour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateVisite)
    </td>
    <td>
        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
        <!--@Html.ActionLink("Details", "Details", new { id = item.Id }) |-->
        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
